// Rayons d'arrondi.

$radius-none: 0 !default;
$radius-sm: 0.25rem !default; // 4px
$radius-md: 0.5rem !default; // 8px
$radius-lg: 0.75rem !default; // 12px
$radius-xl: 1rem !default; // 16px
$radius-full: 9999px !default; // pilule / cercle
